define                  = -DPOSRES -DPOSRES_FC_BB=400.0 -DPOSRES_FC_SC=40.0
integrator              = steep
emtol                   = 100.0
nsteps                  = 10000
nstlist                 = 10
cutoff-scheme           = Verlet
rlist                   = 1.2
vdwtype                 = Cut-off
vdw-modifier            = Force-switch
rvdw_switch             = 1.0
rvdw                    = 1.2
coulombtype             = PME
rcoulomb                = 1.2
;verlet-buffer-tolerance = -1
;
constraints             = h-bonds
constraint_algorithm    = LINCS


; FREE ENERGY
;----------------------------------------------------
free-energy              = yes
couple-moltype           = NNNNN
; 'soft-core' parameters
sc-alpha                 = 0.5
sc-power                 = 1
sc-sigma                 = 0.3
sc-coul                  = no
; we still want the molecule to interact with itself at lambda=1
couple-intramol          = yes
couple-lambda0           = vdw-q
couple-lambda1           = none
;..lambda schedule
init-lambda-state        = YYYYY
; init_lambda_state        0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35    36
bonded-lambdas           = 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00
coul-lambdas             = 0.00 0.01 0.02 0.05 0.10 0.20 0.30 0.40 0.50 0.60 0.70 0.80 0.90 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00 1.00
vdw-lambdas              = 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.05 0.10 0.15 0.20 0.25 0.30 0.35 0.40 0.45 0.50 0.55 0.60 0.65 0.70 0.75 0.80 0.85 0.90 0.95 0.98 0.99 1.00
nstdhdl                  = 2500
dhdl-print-energy        = total
calc-lambda-neighbors    = -1
